<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 加载java的配置文件或者声明属性信息 -->
    <properties resource="datasource.properties">
        <property name="db.username" value="root"/>
    </properties>

    <settings>
        <!-- 开启延迟加载 ，默认值为true-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 设置积极的懒加载,默认是true -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!-- 二级缓存的总开关 -->
        <setting name="cacheEnabled" value="true"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- 自定义别名 -->
    <typeAliases>
        <!-- 单个别名定义 -->
        <!--<typeAlias type="com.pojo.User" alias="user"/>-->

        <!-- 批量别名定义（推荐） -->
        <package name="com.pojo"/>
    </typeAliases>

    <!-- 配置mybatis的环境信息，与spring整合，该信息由spring来管理 -->
    <!--<environments default="development">-->
    <!--<environment id="development">-->
    <!--&lt;!&ndash; 配置JDBC事务控制，由mybatis进行管理 &ndash;&gt;-->
    <!--<transactionManager type="JDBC"></transactionManager>-->
    <!--&lt;!&ndash; 配置数据源，采用mybatis连接池 &ndash;&gt;-->
    <!--<dataSource type="POOLED">-->
    <!--<property name="driver" value="${db.driver}"/>-->
    <!--<property name="url" value="${db.url}"/>-->
    <!--<property name="username" value="${db.username}"/>-->
    <!--<property name="password" value="${db.password}"/>-->
    <!--</dataSource>-->
    <!--</environment>-->
    <!--</environments>-->

    <!-- 加载映射文件 -->
    <!--<mappers>-->
    <!--&lt;!&ndash; 单个加载映射文件 &ndash;&gt;-->
    <!--<mapper resource="User.xml"/>-->
    <!--<mapper resource="mapper/UserMapper.xml"/>-->

    <!--&lt;!&ndash; 批量加载映射文件 &ndash;&gt;-->
    <!--<package name="com.itheima.mybatis.mapper"/>-->
    <!--</mappers>-->

</configuration>