<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.yang.dao.OrderMapper">

    <resultMap id="BaseResultMap" type="com.yang.vo.OrderVO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="order_no" property="orderNo"/>
        <association property="user" column="user_id" select="com.yang.dao.UserMapper.findUserById"/>
        <collection property="orderItemVOList" column="order_no" select="com.yang.dao.OrderItemMapper.getOrderItemVOListsByOrderNo"/>
    </resultMap>

    <select id="findOrderVOByOrderNo" resultMap="BaseResultMap">
        SELECT *
        FROM t_order
        WHERE order_no = #{orderNo}
    </select>

    <select id="findOrderVOList" resultMap="BaseResultMap">
        SELECT *
        FROM t_order
    </select>

    <resultMap type="com.yang.vo.OrderVO" id="OrderVOResultMap">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="order_no" property="orderNo"/>
        <!-- association：一对一关联映射 -->
        <!-- property：关联信息查询的结果将要映射的扩展类中的对象属性名称 -->
        <!-- id标签：建议在关联查询时必须写上，不写不会报错，但是会影响性能 -->
        <association property="user" javaType="com.yang.pojo.User">
            <id column="user_id" property="id"/>
            <result column="username" property="username"/>
            <result column="sex" property="sex"/>
        </association>
        <collection property="orderItemVOList" ofType="com.yang.vo.OrderItemVO">
            <id column="itemId" property="id"/>
            <result column="order_no" property="orderNo"/>
            <result column="product_id" property="productId"/>
            <!-- 商品信息（一对一） -->
            <association property="product" javaType="com.yang.pojo.Product">
                <id column="product_id" property="id"/>
                <result column="name" property="name"/>
                <result column="price" property="price"/>
            </association>
        </collection>
    </resultMap>

    <select id="findOrderVOList2" resultMap="OrderVOResultMap">
        SELECT
            t_order.id,
            t_order.user_id,
            t_order.order_no,
            t_user.username,
            t_user.sex,
            t_order_item.id AS itemId,
            t_order_item.product_id,
            t_product.name,
            t_product.price
        FROM t_user, t_order, t_order_item, t_product
        WHERE t_order.user_id = t_user.id
              AND t_order.order_no = t_order_item.order_no
              AND t_product.id = t_order_item.product_id
    </select>

</mapper>