<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.yang.dao.StudentMajorMapper">

    <resultMap id="BaseResultMap" type="com.yang.pojo.StudentMajor">
        <id property="id" column="id"/>
        <collection property="students" column="id" select="com.dao.StudentMapper.selectz">
        </collection>
    </resultMap>

    <!-- 全表查询 -->
    <select id="selectAll" resultMap="BaseResultMap">
        select * from studentmajor
    </select>

    <!-- 根据主键查 -->
    <select id="select" parameterType="Integer" resultType="com.yang.pojo.StudentMajor">
        select * from studentmajor where id = #{id}
    </select>

</mapper>